# Python Virtual Environment
venv/

# Project configuration (from IDEs like IntelliJ/PyCharm)
.idea/
*.iml

# OSETLJIVE I GENERIRANE DATOTEKE!
# Uklanjanje lokalnih certifikata i ključeva
localhost.crt
localhost.key

# Uklanjanje privremenih Nginx konfiguracija
nginx-certbot.conf

# Cijeli certbot direktorij koji sadrži ključeve
certbot/
