version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: kviz-app
    expose:
      - "5001"
    networks:
      - kviz-network
    restart: unless-stopped

  nginx:
    image: nginx:alpine
    container_name: nginx
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
      - ./certbot/www:/var/www/certbot
      - ./certbot/conf:/etc/letsencrypt   # <--- LOKALNA KOPIJA CERTA
      - ./localhost.crt:/etc/nginx/localhost.crt
      - ./localhost.key:/etc/nginx/localhost.key
    depends_on:
      - app
    networks:
      - kviz-network
    restart: unless-stopped

networks:
  kviz-network:
    driver: bridge
